html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  padding: 1rem;
}

#coloredFooterText {
  background: linear-gradient(
    195deg,
    rgb(237, 236, 255) 15%,
    rgb(220, 212, 246) 70%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: 600;
  font-size: 1.125rem !important;
}

tbody > tr:last-child > td {
  border-bottom: 0;
}

.custom-file-button input[type="file"] {
  margin-left: -2px !important;
}

.custom-file-button input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.custom-file-button input[type="file"]::file-selector-button {
  display: none;
}

.custom-file-button:hover label {
  background-color: inherit;
  cursor: pointer;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 5px;
    font-size: 0.7rem;
    color: #999;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--bs-secondary);
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

/* #region Custom SweetAlert2 */

/* Use blurred backdrop */
body.swal2-shown > [aria-hidden="true"] {
  transition: 0.1s filter;
  filter: blur(10px);
}

/* Use no ellipse border
    useful when invoking toast alert with custom icon
*/
.no-border {
  border: 0 !important;
}

.colored-toast.swal2-icon-success {
  background-color: var(--bs-success) !important;
}

.colored-toast.swal2-icon-error {
  background-color: var(--bs-danger) !important;
}

.colored-toast.swal2-icon-warning {
  background-color: var(--bs-warning) !important;
}

.colored-toast.swal2-icon-info {
  background-color: var(--bs-info) !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}

/* #endregion Custom SweetAlert2 */

/* #region jquery-validate */

.field-validation-error {
  font-size: smaller;
  font-weight: bold;
}

/* #endregion jquery-validate */

/* #region DataTables */

/* `Show N entries` selection background and text color */
div.dataTables_length select {
  color: var(--bs-body-color) !important;
  background-color: var(--bs-body-bg) !important;
}

/* #endregion DataTables */
