html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
/*  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;*/
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* #region Custom SweetAlert2 */

/* Use blurred backdrop */
body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
}

/* Use no ellipse border
    this is useful when invoking custom icon
*/
.no-border{
    border: 0 !important;
}

.colored-toast.swal2-icon-success {
    background-color: var(--bs-success) !important;
}

.colored-toast.swal2-icon-error {
    background-color: var(--bs-danger) !important;
}

.colored-toast.swal2-icon-warning {
    background-color: var(--bs-warning) !important;
}

.colored-toast.swal2-icon-info {
    background-color: var(--bs-info) !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}
/* #endregion Custom SweetAlert2 */