<table id="productTable" class="compact hover order-column row-border table-striped mt-2" style="width: 100%">
	<thead>
		<tr>
			<th>Title</th>
			<th>ISBN</th>
			<th>List Price</th>
			<th>Author</th>
			<th>Category</th>
			<th>@* Operations *@</th>
		</tr>
	</thead>
</table>

@section Scripts{
	<script src="~/js/product.js"></script>
}