<table id="companyTable" class="compact hover order-column row-border table-striped mt-2" style="width: 100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>City</th>
			<th>State</th>
			<th>Street Address</th>
			<th>Phone Number</th>
			<th>@* Operations *@</th>
		</tr>
	</thead>	
</table>
