@model Product

<div class="card shadow border-top-0 mt-4">
	<div class="card-header bg-primary bg-gradient bg-opacity-75 m-lg-0 py-3 border-0 rounded-2 rounded-bottom-0">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white">Create Product</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row">
			<div class="p-3">
				<div asp-validation-summary="ModelOnly"></div>
				<div class="form-floating mb-3">
					<input asp-for="Title" class="form-control">
					<label asp-for="Title"></label>
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<textarea asp-for="Description"
							  class="form-control"
							  style="resize: vertical; height: 120px; max-height: 120px;"></textarea>
					<label asp-for="Description"></label>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="ISBN" value="@Guid.NewGuid().ToString()" class="form-control">
					<label asp-for="ISBN"></label>
					<span asp-validation-for="ISBN" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="Author" class="form-control">
					<label asp-for="Author"></label>
					<span asp-validation-for="Author" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="ListPrice" class="form-control" min="0" value="@(Math.Round((Random.Shared.Next(maxValue: 200, minValue: 150) / 10.0)) * 10)">
					<label asp-for="ListPrice"></label>
					<span asp-validation-for="ListPrice" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="PriceFifty" class="form-control" min="0" value="@(Math.Round((Random.Shared.Next(maxValue: 150 - 6, minValue: 90) / 10.0)) * 10)">
					<label asp-for="PriceFifty"></label>
					<span asp-validation-for="PriceFifty" class="text-danger"></span>
				</div>
				<div class="form-floating mb-3">
					<input asp-for="PriceHundredOrMore" class="form-control" min="0" value="@(Math.Round((Random.Shared.Next(maxValue: 90 - 6, minValue: 60) / 10.0)) * 10)">
					<label asp-for="PriceHundredOrMore"></label>
					<span asp-validation-for="PriceHundredOrMore" class="text-danger"></span>
				</div>
				<div class="row">
					<div class="col-6">
						<a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">
							<i class="bi bi-arrow-left"></i> Back to List
						</a>
					</div>
					<div class="col-6">
						<button type="submit" class="btn btn-primary form-control">
							<i class="bi bi-plus-circle"></i> Create
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}
