@inject IHttpContextAccessor HttpContextAccessor

<nav class="navbar navbar-dark navbar-expand-lg bg-primary" @*data-bs-theme="dark"*@>
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BulkyWeb</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Manage Order</a>
                </li>
                @{
                    // Show `Content Management` if user is `Admin`
                    if (User.IsInRole(StaticDetails.Role_Admin))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Content Management
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a>
                                </li>

                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="Index">Companies</a>
                                </li>

                                <li><hr class="dropdown-divider"></li>

                                <li class="nav-item">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                                </li>
                            </ul>
                        </li>
                    }
                }
                <li class="nav-item">
                    <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                        @await Component.InvokeAsync("ShoppingCart")
                    </a>
                </li>
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>