<table id="userTable" class="compact hover order-column row-border table-striped mt-2" style="width: 100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Company</th>
            <th>Roles</th>
            <th>@* Operations *@</th>
        </tr>
    </thead>
</table>
