<table id="orderTable" class="compact hover order-column row-border table-striped mt-2" style="width: 100%">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Phone Number</th>
			<th>Email</th>
			<th>Order Status</th>
			<th>Order Total</th>
			<th>@* Operations *@</th>
		</tr>
	</thead>
</table>
