<div class="card shadow border-top-0 mt-4">
    <div class="card-header bg-primary bg-gradient bg-opacity-75 m-lg-0 py-3 border-0 rounded-2 rounded-bottom-0">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Order List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="d-flex justify-content-between pb-5 pt-2">
            <span></span>
            <ul class="list-group list-group-horizontal-sm">
                <a asp-controller="Order" asp-action="Index" asp-route-status="inProcess" style="text-decoration: none;">
                <li class="list-group-item">In Process</li>
                </a>
                <a asp-controller="Order" asp-action="Index" asp-route-status="paymentPending" style="text-decoration: none;">
                <li class="list-group-item">Payment Pending</li>
                </a>
                <a asp-controller="Order" asp-action="Index" asp-route-status="completed" style="text-decoration: none;">
                <li class="list-group-item">Completed</li>
                </a>
                <a asp-controller="Order" asp-action="Index" asp-route-status="approved" style="text-decoration: none;">
                <li class="list-group-item">Approved</li>
                </a>
                <a asp-controller="Order" asp-action="Index" asp-route-status="all" style="text-decoration: none;">
                <li class="list-group-item">All</li>
                </a>
            </ul>
        </div>
        <partial name="_OrderTable" />
    </div>
</div>

@section Scripts{
    <script src="~/js/order.js" asp-append-version="true"></script>
}
